<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NodeJS About Page stash</title>
</head>
<body>
    {{>header}}
    <p>This site was created by Ajay Kumar. It uses data from mapbox.com and darksky.net.</p>
    <h1>From a static about html</h1>
    {{>footer}}
</body>
</html>